:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #d2c9f8;
/* background: linear-gradient(98deg, rgba(38,74,217,1) 15%, rgba(162,54,212,1) 48%, rgba(214,46,221,1) 100%); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: rgb(13, 12, 12);
}

a {
  font-weight: 500;
  color: rgb(13, 12, 12);
  text-decoration: inherit;
}
a:hover {
  color: rgb(25, 25, 25);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgb(247, 247, 247);
  background-color: rgb(38,74,217);
  cursor: pointer;
  transition: border-color 0.25s;
}

